#### Nombre: **00_data_processing**
#### Autores: _Sergio Cañón  Laiz y Ignacio Ruiz de Zuazu Echavarría_
#### CUNEF
#### 15/01/2021

In [2]:
import pandas as pd
import os

## Creación pandas con nombre de los archivos

El formato del los datos es el siguiente explicado con este ejemplo: 100_1_0_20170112213001988.jpg
* 100 = edad
* 1 = género mujer
* 0 = raza blanca

"0":"White",
"1":"Black",
"2":"Asian",
"3":"Indian",
"4":"Others"

In [271]:
files =[]

In [272]:
files = pd.DataFrame(files)

In [273]:
# importamos el nmbre de los archivos

path = "../data/01_raw/" #imagenes raw
files["filenames"] = os.listdir(path)

In [274]:
files

                           filenames
0      100_0_0_20170112213500903.jpg
1      100_0_0_20170112215240346.jpg
2      100_1_0_20170110183726390.jpg
3      100_1_0_20170112213001988.jpg
4      100_1_0_20170112213303693.jpg
...                              ...
24100    9_1_3_20161220222856346.jpg
24101    9_1_3_20170104222949455.jpg
24102    9_1_4_20170103200637399.jpg
24103    9_1_4_20170103200814791.jpg
24104    9_1_4_20170103213057382.jpg

[24105 rows x 1 columns]

## Parseado

In [275]:
files

                           filenames
0      100_0_0_20170112213500903.jpg
1      100_0_0_20170112215240346.jpg
2      100_1_0_20170110183726390.jpg
3      100_1_0_20170112213001988.jpg
4      100_1_0_20170112213303693.jpg
...                              ...
24100    9_1_3_20161220222856346.jpg
24101    9_1_3_20170104222949455.jpg
24102    9_1_4_20170103200637399.jpg
24103    9_1_4_20170103200814791.jpg
24104    9_1_4_20170103213057382.jpg

[24105 rows x 1 columns]

In [276]:
sex_gender_race = pd.DataFrame(files["filenames"].str.split("_", n = 3, expand = True).iloc[:,0:3])
formato = pd.DataFrame(files["filenames"].str.split(".", expand = True)[1])

In [277]:
data = pd.concat([sex_gender_race, formato, files["filenames"] ], axis=1)

In [278]:
data.columns = ['edad', 'sexo','raza','formato','filename']
data

      edad sexo raza formato                       filename
0      100    0    0     jpg  100_0_0_20170112213500903.jpg
1      100    0    0     jpg  100_0_0_20170112215240346.jpg
2      100    1    0     jpg  100_1_0_20170110183726390.jpg
3      100    1    0     jpg  100_1_0_20170112213001988.jpg
4      100    1    0     jpg  100_1_0_20170112213303693.jpg
...    ...  ...  ...     ...                            ...
24100    9    1    3     jpg    9_1_3_20161220222856346.jpg
24101    9    1    3     jpg    9_1_3_20170104222949455.jpg
24102    9    1    4     jpg    9_1_4_20170103200637399.jpg
24103    9    1    4     jpg    9_1_4_20170103200814791.jpg
24104    9    1    4     jpg    9_1_4_20170103213057382.jpg

[24105 rows x 5 columns]

## Análisis de archivos

El objetivo aquí es detectar posibles archivos mal escritos o con un formato incorrecto

In [279]:
data.edad.unique()

array(['100', '101', '103', '105', '10', '110', '111', '115', '116', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '1', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '2', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '3', '40', '41',
       '42', '43', '44', '45', '46', '47', '48', '49', '4', '50', '51',
       '52', '53', '54', '55', '56', '57', '58', '59', '5', '60', '61',
       '62', '63', '64', '65', '66', '67', '68', '69', '6', '70', '71',
       '72', '73', '74', '75', '76', '77', '78', '79', '7', '80', '81',
       '82', '83', '84', '85', '86', '87', '88', '89', '8', '90', '91',
       '92', '93', '95', '96', '99', '9'], dtype=object)

In [280]:
data.sexo.unique()

array(['0', '1', '', '3'], dtype=object)

In [281]:
data.raza.unique()

array(['0', '2', '1', '3', '4', '20170116174525125.jpg',
       '20170109142408075.jpg', '20170109150557335.jpg'], dtype=object)

In [282]:
data.formato.unique()

array(['jpg', 'pg', None], dtype=object)

Detectamos incongrucencias: en primer lugar, que haya un género "3" y que haya un dato como espacio en blanco. En cuanto a la raza, hay 5 tipos diferentes y 3 valores con error que podrían estar relacionados con lo anterior. Por último, hay varios formatos de archivos que nos pueden general problemas.

## Detección de datos erróneos

### sexo

In [283]:
sexo_error_1 = data[data["sexo"] == ""  ]
sexo_error_1

      edad sexo raza formato                     filename
19143   53         0     jpg  53__0_20170116184028385.jpg

In [284]:
sexo_error_2 = data[data["sexo"] == "3"]
sexo_error_2

      edad sexo                   raza formato                    filename
21131   61    3  20170109150557335.jpg     jpg  61_3_20170109150557335.jpg

### Raza

In [285]:
raza_error_1 = data[data["raza"] == "20170116174525125.jpg"  ]
raza_error_1

      edad sexo                   raza formato                    filename
15277   39    1  20170116174525125.jpg     jpg  39_1_20170116174525125.jpg

In [286]:
raza_error_2 = data[data["raza"] == "20170109142408075.jpg"  ]
raza_error_2

      edad sexo                   raza formato                    filename
21119   61    1  20170109142408075.jpg     jpg  61_1_20170109142408075.jpg

In [287]:
raza_error_3 = data[data["raza"] == "20170109150557335.jpg"  ]
raza_error_3

      edad sexo                   raza formato                    filename
21131   61    3  20170109150557335.jpg     jpg  61_3_20170109150557335.jpg

### Formato

In [288]:
formato_error_1 = data[data["formato"] ==  'pg' ]
formato_error_1

      edad sexo raza formato                     filename
16800   44    1    4      pg  44_1_4_20170116235150272.pg

In [289]:
formato_error_2 = data[data["formato"].isna()]
formato_error_2

      edad sexo raza formato                     filename
19532   55    0    0    None  55_0_0_20170116232725357jpg

## Imagenes erróneas encontradas

In [290]:
imagenes_erroneas = pd.concat([sexo_error_1, sexo_error_2,
                               raza_error_1, raza_error_2, raza_error_3,
                               formato_error_1,formato_error_2 ])
imagenes_erroneas

      edad sexo                   raza formato                     filename
19143   53                           0     jpg  53__0_20170116184028385.jpg
21131   61    3  20170109150557335.jpg     jpg   61_3_20170109150557335.jpg
15277   39    1  20170116174525125.jpg     jpg   39_1_20170116174525125.jpg
21119   61    1  20170109142408075.jpg     jpg   61_1_20170109142408075.jpg
21131   61    3  20170109150557335.jpg     jpg   61_3_20170109150557335.jpg
16800   44    1                      4      pg  44_1_4_20170116235150272.pg
19532   55    0                      0    None  55_0_0_20170116232725357jpg

In [291]:
imagenes_erroneas = imagenes_erroneas.drop_duplicates()
imagenes_erroneas

      edad sexo                   raza formato                     filename
19143   53                           0     jpg  53__0_20170116184028385.jpg
21131   61    3  20170109150557335.jpg     jpg   61_3_20170109150557335.jpg
15277   39    1  20170116174525125.jpg     jpg   39_1_20170116174525125.jpg
21119   61    1  20170109142408075.jpg     jpg   61_1_20170109142408075.jpg
16800   44    1                      4      pg  44_1_4_20170116235150272.pg
19532   55    0                      0    None  55_0_0_20170116232725357jpg

Varios archivos se repiten como mal escritos por lo que retirando los duplicadso procedemos a la eliminación de los siguientes archivos:

In [292]:
# nombre imagenes erroneas para localizarlas y eliminarlas en la carpeta

imagenes_erroneas.filename

19143    53__0_20170116184028385.jpg
21131     61_3_20170109150557335.jpg
15277     39_1_20170116174525125.jpg
21119     61_1_20170109142408075.jpg
16800    44_1_4_20170116235150272.pg
19532    55_0_0_20170116232725357jpg
Name: filename, dtype: object

# Eliminación y imputación de nombres

## Eliminación

In [293]:
# eliminación filas contenidas en el dataframe "imagenes_erroneas"
data = data.drop(data.index[imagenes_erroneas.index])

In [294]:
data

      edad sexo raza formato                       filename
0      100    0    0     jpg  100_0_0_20170112213500903.jpg
1      100    0    0     jpg  100_0_0_20170112215240346.jpg
2      100    1    0     jpg  100_1_0_20170110183726390.jpg
3      100    1    0     jpg  100_1_0_20170112213001988.jpg
4      100    1    0     jpg  100_1_0_20170112213303693.jpg
...    ...  ...  ...     ...                            ...
24100    9    1    3     jpg    9_1_3_20161220222856346.jpg
24101    9    1    3     jpg    9_1_3_20170104222949455.jpg
24102    9    1    4     jpg    9_1_4_20170103200637399.jpg
24103    9    1    4     jpg    9_1_4_20170103200814791.jpg
24104    9    1    4     jpg    9_1_4_20170103213057382.jpg

[24099 rows x 5 columns]

In [295]:
#comprobamos que se han eliminado las variables erroneas

print(data.edad.unique())
print(data.sexo.unique())
print(data.raza.unique())
print(data.formato.unique())

['100' '101' '103' '105' '10' '110' '111' '115' '116' '11' '12' '13' '14'
 '15' '16' '17' '18' '19' '1' '20' '21' '22' '23' '24' '25' '26' '27' '28'
 '29' '2' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '3' '40' '41'
 '42' '43' '44' '45' '46' '47' '48' '49' '4' '50' '51' '52' '53' '54' '55'
 '56' '57' '58' '59' '5' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69'
 '6' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79' '7' '80' '81' '82'
 '83' '84' '85' '86' '87' '88' '89' '8' '90' '91' '92' '93' '95' '96' '99'
 '9']
['0' '1']
['0' '2' '1' '3' '4']
['jpg']

## Imputación valores celdas

In [307]:
sexo = pd.DataFrame(data.sexo.replace({"0": "male",
                         "1": "female"}))

In [308]:
raza = pd.DataFrame(data.raza.replace({"0":"White",
                   "1":"Black",
                   "2":"Asian",
                   "3":"Indian",
                   "4":"Others" }))

In [313]:
data.sexo = sexo
data.raza = raza

In [314]:
data

      edad    sexo    raza formato                       filename
0      100    male   White     jpg  100_0_0_20170112213500903.jpg
1      100    male   White     jpg  100_0_0_20170112215240346.jpg
2      100  female   White     jpg  100_1_0_20170110183726390.jpg
3      100  female   White     jpg  100_1_0_20170112213001988.jpg
4      100  female   White     jpg  100_1_0_20170112213303693.jpg
...    ...     ...     ...     ...                            ...
24100    9  female  Indian     jpg    9_1_3_20161220222856346.jpg
24101    9  female  Indian     jpg    9_1_3_20170104222949455.jpg
24102    9  female  Others     jpg    9_1_4_20170103200637399.jpg
24103    9  female  Others     jpg    9_1_4_20170103200814791.jpg
24104    9  female  Others     jpg    9_1_4_20170103213057382.jpg

[24099 rows x 5 columns]

In [315]:
data.to_json(r'..\data\03_data_eda\03_data_eda.json')